*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --header-height: 40px;
    --lighter-brown: #9a7b4f;
    --light-brown: #4B371C;
    --default-brown: #231709;
    --dark-brown: #231604;
    --shadow: 0 5px 7px 0 rgba(0,0,0,0.5);
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    color: #fff;
}
main {
    min-height: 100%;
    background: rgb(75,55,28);
    background: linear-gradient(135deg, var(--light-brown) 0%, var(--default-brown) 100%);
}
button:disabled {
    cursor: no-drop;
}
.header{
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--dark-brown);
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: var(--shadow);
}
.container {
    padding-top: calc(var(--header-height) + 10px);
    background: rgba(0,0,0,0.15);
    height: 100%;
    padding-bottom: 5px;
}
.container .new-message {
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--lighter-brown);
}
.container .new-message #new-message-author {
    font-weight: 600;
}

.container .all-messages .single-message {
    border: 1px solid var(--lighter-brown);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    transition: background-color linear .3s;
    box-shadow: var(--shadow);
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.0)
            ),
            url("../img/wall.jpg");
}
.container .all-messages .single-message:hover {
    background-color: rgba(255,255,255,0.05);
}

.container .all-messages .single-message .message-author {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    position: relative;
}
.container .all-messages .single-message .message-author:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    background: white;
}
.container .all-messages .single-message .message-buttons {
    display: flex;
    justify-content: space-between;
}

.container .all-messages .single-message .message-author i{
    margin-right: 5px;
}
.container .all-messages .single-message .message-tags {
    padding: 10px 0 0 0;
}
.container .all-messages .single-message .message-tags .tags {
    margin-bottom: 10px;
}
.container .all-messages .single-message .message-tags .tags:last-child {
    margin-bottom: 0;
}
.container .all-messages .single-message .message-tags .tag{
    display: flex;
    justify-content: space-between;
}

/* Modal Background */
.modal-content {
    background: linear-gradient(135deg, var(--lighter-brown) 0%, var(--light-brown) 100%);
}

/* Progress Bar Styles */
.progressbar {
    width: 100%;
    height: 20px;
    border: 1px solid var(--lighter-brown);
    padding: 3px;
    border-radius: 5px;
}
.progressbar .progress-level {
    height: 100%;
    border-radius: 3px;
    background: #af0000;
}