<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DUVAR - Duvar'a yaz</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href=./plugins/fontawesome/css/all.min.css>
    <link rel="stylesheet" href="./css/style.css">

    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>

    <script>
        var app = angular.module("duvarApp", []);
    </script>
</head>
<body ng-app="duvarApp">
<header>
    <div class="header">
        <div class="logo">
            <h2 class="logo">DUVAR</h2>
        </div>
        <div class="user-action">
            <button class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#editUser">
                <i class="fas fa-user-edit"></i> Kullanıcıyı Düzenle
            </button>

        </div>
    </div>
</header>
<main ng-controller="duvarController">
    <div class="container">
        <div class="new-message">
            <label for="new-message-input">Merhaba <span id="new-message-author">{{ author }}</span></label>
            <div class="input-group">
                <textarea id="new-message-input" rows="2" class="form-control" placeholder="DUVAR'a yaz" ng-model="newMessage"></textarea>
                <div class="input-group-append">
                    <button class="btn btn-success send-button" type="button" ng-click="insertNewMessage()" ng-disabled="newMessage === null || newMessage === ''">
                        <i class="fas fa-spray-can"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="all-messages">
            <div class="single-message" ng-repeat="msg in sampleMessages">
                <div class="row">
                    <div class="col-md-12">
                        <div class="message-box">
                            <h4 class="message-author"><i class="fas fa-feather-alt"></i> {{ msg.author }}</h4>
                            <p class="message-content">{{ msg.message }}</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="message-buttons">
                            <button class="btn btn-warning btn-sm" data-toggle="collapse" data-target="#collapse_{{ msg.id }}">
                                <i class="fas fa-angle-down" style="margin-right: 5px;"></i> Etiketler
                            </button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteMessage(msg.id)">
                                <i class="fas fa-trash-alt" style="margin-right: 5px;"></i> Sil
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse" id="collapse_{{ msg.id }}">
                            <div class="message-tags">
                                <div class="row">
                                    <div class="col-md-3 tags" ng-repeat="tag in msg.tags">
                                        <div class="tag">
                                            <span class="tag-label">{{ tag.label }}</span>
                                            <span class="tag-level">{{ tag.score }} %</span>
                                        </div>
                                        <div class="progressbar">
                                            <div class="progress-level" style="width: {{ tag.score }}%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserLabel">Kullanıcıyı Düzenle</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newAuthorName">Yeni Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="newAuthorName" placeholder="Yeni Kullanıcı Adı" ng-model="newAuthorName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-success btn-sm" ng-click="setNewAuthorName()" ng-disabled="newAuthorName === null || newAuthorName === ''">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="./js/script.js"></script>
</body>
</html>